<%- include("../partials/header") %>
<%- include("../partials/navigation") %>

<h1><%= assignment.title %></h1>
<section>
<div class="cardbox">
    <p><b>Created by:</b> <%= assignment.creator_name %></p>
    <p><b>Due Date:</b> <%= new Date(assignment.due_date).toLocaleDateString() %></p>
    <p><b>Status:</b> <%= assignment.status %></p>
    <button class="btn">Claim Assignment</button>
    <button class="btn">Abandon Assignment</button>
    <% if (user.role === 'Manager') { %>
        <button class="btn">Edit Assignment</button>
    <% } %>
</div>
<div class="cardbox">
    <h3>Description</h3>
    <p><%= assignment.description %></p>
</div>
</section>
<section class="cardbox">
    <h2>Submission</h2>
</section>

<%- include("../partials/footer") %>