<%- include("../partials/header") %>
<%- include("../partials/navigation") %>
<h1>Edit Assignment</h1>
<section class="cardbox">
    <label for="title">Title</label>
    <input type="text" id="title" name="title" value="<%= assignment.title %>" />
    <label for="description">Description</label>
    <textarea id="description" name="description"><%= assignment.description %></textarea>
    <label for="due_date">Due Date</label>
    <input type="date" id="due_date" name="due_date" value="<%= new Date(assignment.due_date).toISOString().split('T')[0] %>" />
    <button class="btn">Save Changes</button>
</section>