<%- include("../partials/header") %>
<%- include("../partials/navigation") %>

<h1><%= team.name%></h1>
<section>
    <label for="search">Search Assignments:</label>
    <input type="text" id="search">
    <select id="filter">
        <option value="all">All Assignment</option>
        <option value="mine">My Assignment</option>
    </select>
</section>
<section class="cardbox" id="assignment-list">
    <% if (!assignments || assignments.length === 0) { %>
        <p>No assignments yet.</p>
    <% } %>
    <% (assignments).forEach(assignment => { %>
        <div id="team-card">
            <h3><%= assignment.title %></h3>
            <p><%= assignment.description %></p>
            <p>Due: <%= new Date(assignment.due_date).toLocaleDateString() %></p>
        </div>
    <% }) %>
</section>
<section>
    <h2>Team Members</h2>
    <% if (!teamMember || teamMember.length === 0) { %>
        <p>No members yet.</p>
    <% } %>
    <% (teamMember).forEach(member => { 
        const avatarSrc = (member.avatar_hash && member.avatar_ext)
            ? `/uploads/profiles/${member.avatar_hash}${member.avatar_ext}`
            : '/default-avatar.png';
    %>
        <div class="team-card">
            <img src="<%= avatarSrc %>" alt="Profile Picture" class="profile-picture">
            <h3><%= member.firstname %> <%= member.lastname %></h3>
            <p><%= member.role %></p>
        </div>
    <% }) %>
</section>